<div class="container">
<div id="header" class="container">
  <p>Lohith Ds</p>
  <a ><p >lohithds12345@gmail.com</p></a>
</div>

<div class="right">
  <h3>CV Highlights</h3>

  <ul>
    <li>Currently going through React js – Web Applications</li>
    <li>
      Learnt JavaScript, HTML, CSS,React Js in Codex software training institue
      Bangalore
    </li>
    <li>
      Good Communication Skills, Presentation Skills, attitude towards
      leadership and a very good team worker.
    </li>
  </ul>

  <h3>Professional Experience</h3>
 <h4 id="company-name">ABI TECHNOLOGIES</h4>
 <div></div>
  <p id="job-title"><strong>Junior Developer Engineer </strong></p>
  <p id="job-responsibilities">Job Responsbilities</p>

  <ul>
    <li>Creating web Applications</li>
    <li>Developing and maintaining the user interface.</li>
    <li>Implementing design on mobile websites</li>
  </ul>

  <h3>Educational Qualifications</h3>
  <ul>
    <li>
      Beachelor of Engineering -Visvesvaraya Technological University ,[2020]
      with 6.4cgpa
    </li>
  </ul>
  <h3>Independent Courses</h3>

  <ul>
    <li><span id="course-name">HTML & CSS – Web Fundamentals</span> – CODEX</li>

    <li><span id="course-name">JavaScript – Programming </span> - CODEX</li>
    <li><span id="course-name">React JS </span> - CODEX</li>
  </ul>
  <h3>Technical Skills</h3>

  <h3>Personal Information:</h3>

  <ul>
    <li>
      A young, determined hard and smart working person. I believe in task based
      roles and complete ownership of work.
    </li>

    <li>
      <span id="course-name">Languages Known:</span>English,Kannada ,Hindi
    </li>
    <li>
      <span id="course-name">Hobbies:</span> playing Cricket,listening music,
      self-learning through e-courses.
    </li>
  </ul>

  <h3>Other Information</h3>

  <ul>
    <li>
      <span id="course-name">Expected Salary:</span>As per company standards
    </li>
    <li>
      <span id="course-name">Area of Interest:</span>Software Development,
      Programming, Start-ups, Coding, App Development, Technical Support,
      Support Engineer
    </li>
    <li><span id="course-name">Joining Date:</span>Immediate</li>
  </ul>

  <h3>Declaration</h3>
  <p>
    I hereby declare that the details furnished above are true and correct to
    the best of my knowledge and belief.
  </p>
</div>
</div>
